h1
{
    text-align: center;
}
.logo
{
    float:left;
    width:50%;
    padding-left: 5px;
}


.menu
{
    float:right;
    width:45%;
}

header
{
    height:100px;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(253,50,35,1) 57%, rgba(252,176,69,1) 100%);
}
header ul li 
{
    display: inline-block;
    margin-left: 10px;
    width:150px;
    height: 30px;
    background-color: blue;
    color:white;
    text-align: center;
    padding-top: 1px;
    border-radius: 5px;
}
header ul li a
{
    text-decoration: none;
    color:white;
}
section
{
    height: 500px;
    background-color: gray;
}

.leftDiv
{
    float:left;
    width:50%;
    height: 100%;
    border:1px solid red;
}
.leftDiv iframe
{
    padding-left:10px;
    padding-top: 12px;
}
.rightDiv
{
    float:right;
    width:49%;
    height: 100%;
    border:1px solid red;
}
footer
{
    height:200px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(253,50,35,1) 57%, rgba(252,176,69,1) 100%);
}
footer .part
{
    float:left;
    width:32%;
    height: 100%;
    border:1px solid white;
    margin-left: 10px;
}